
/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 300;
}

#layout, #header {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 900px;
}

a {
    color: #0088cc;
    text-decoration: none;
}

a:hover {
    color: #005580;
}



/****** MENU ******/
#header {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0;
}
#header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}
#header li {
    margin: 0;
    padding: 0;
    text-align: left;
}
#header a  {
    font-size: 1.25em;
    padding: .5em .5em .5em 0em;
    margin: 0 1.5em 0 0;
    border: 0;
}
#header li a:hover {
    color: #000;
    background-color: inherit;
    border: 0;
}
#social a  {
    margin-right: 0em;
    font-size: 1.59em;
    padding: .2em .5em .25em 0em;
}



/****** SIDEBAR ******/

#sidebar .l-box {
    margin: 0;
    padding: 0;
}


#sidebar .portrait {
}
#sidebar .portrait img {
    width: 8em;
    height: 8em;
}

.circular {
    width: 8em;
    height: 8em;
    border-radius: 4em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    background: url(/theme/images/cr.jpg);
    background-repeat: repeat-x;
    background-size: 8em;
    background-position: .2em 0;
}


#sidebar .contact {
    font-size: 75%;
    color: #888;
    width: auto;
}
.e-mail:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
}


#sidebar .tags {
    margin: 1em 0 2em 0;
}


#sidebar .books {
    margin: 1em 0 1em 0;
}
#sidebar .books h3 {
    margin: .5em 0 .5em 0;
}
#sidebar .books div {
    float: left;
    margin: .5em 1em .5em 0;
}
#sidebar .books img {
    height: 120px;
}

#sidebar .search {
    margin: 12em 0 1em 0;
    padding: 0;
}
#sidebar .gsc-control-cse, #sidebar .gsc-search-box {
    padding: 0;
    border: 0;
}




/****** CONTENT ******/
#content {
    padding: 0;
    margin: 0;
}

#content header h1 {
    margin: 0 0 .1em 0;
    padding: 0 0 .25em 0;
    border-bottom: 1px solid black;
}

#content header {
    margin: 0 0 2em 0;
}

#content header .post-meta {
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: right;
}

#content .l-box {
    margin: 0;
    padding: 0 5em 0 0;
}

#post {
    /*text-align: justify;*/
}

code {
    font-size: .9em;
    padding: 0 .2em;
}



/****** HEADERS ******/
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
h1 {
    font-size: 2.25em;
}
h2 {
    margin: 1.75em 0 1em 0;
    text-align: right;
    font-size: 1.75em;
}
h3 {
    margin: 1.75em 0 .2em 0;
    font-size: 1.3em;
}



/****** FOOTER ******/
#footer {
    /*background: #ddd;*/
    text-align: center;
    padding: 2em 0;
    font-size: 75%;
}

