{% extends 'base.html' %}

{% block content %}
    <section id="posts">

        <header id="posts-header">
            <h1>{{ SITENAME }}</h1>
        </header>

        {% for article in articles_page.object_list %}
            <section class="post">
                <header class="post-header">
                    <h3><a class="post-title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                    <p class="sub-header-3">{{ article.locale_date }}</p>
                    <p class="post-summary">{{ article.summary }}</p>
                </header>
            </section>
        {% endfor %}

        {% include 'pagination.html' %}
    </section>
{% endblock content %}
